section.section4 {
    background-color: var(--background1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.block-contact{
    width: var(--demi-width);
}

div.block-form{
    width: var(--full-width);
    display: flex;
    flex-direction: column;
    margin: var(--margin-top-bottom-form) 0;
}

div.block-form label{
    font-family: var(--montserrat-font);
    font-size: 16px;
    color: var(--white);
}

div.block-form input[type="email"]{
    border: none;
    background-color: var(--white);
    font-size: 16px;
    font-family: var(--montserrat-font);
    height: 45px;
    border-radius: 5px;
}

div.block-form textarea{
    border: none;
    border-radius: 5px;
}

div.block-check{
    display: flex;
    align-items: center;
    width: var(--full-width);
    margin: var(--margin-top-bottom-form) 0;
}

div.block-check input[type="checkbox"]{
    border: none;
    margin-right: 20px;
}

p.para-check{
    font-family: var(--montserrat-font);
    font-size: 14px;
    color: var(--white);
}

div.block-button{
    display: flex;
    justify-content: center;
    width: var(--full-width);
    margin: var(--margin-top-bottom-form) 0;
}

div.block-button button{
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-pacifico);
    border-radius: 15px;
    color: var(--white);
    font-size: 15px;
    font-family: var(--montserrat-font);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 720px)
{
    div.block-contact
    {
        width: var(--width-90);
    }
    div.block-form label
    {
        font-size: 14px;
    }
    p.para-check
    {
        font-size: 12px;
    }
    div.block-button button
    {
        font-size: 14px;
    }
}